.hz {
  font-family: "Times New Roman", Times, serif;
}

.select {
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: 6px;
  border-radius: 8.7px;
  border-color: gainsboro;
  width: 10.5%;
  height: 47px;
  margin-right: 30px;
}
.text {
  padding-right: 20px;
  font-weight: 100;
}

.content {
  background-color: white;
}
